## KernelSU support config fragment

CONFIG_KSU_NEXT=y
 
#
# KernelSU
#
CONFIG_KSU=y
# CONFIG_KSU_DEBUG is not set
# CONFIG_KSU_ALLOWLIST_WORKAROUND is not set
CONFIG_KSU_MANUAL_HOOK=y

#
# KernelSU - SUSFS
#
CONFIG_KSU_SUSFS=y
CONFIG_KSU_SUSFS_SUS_PATH=y
CONFIG_KSU_SUSFS_SUS_MOUNT=y
CONFIG_KSU_SUSFS_SUS_KSTAT=y
CONFIG_KSU_SUSFS_TRY_UMOUNT=y
CONFIG_KSU_SUSFS_SPOOF_UNAME=y
CONFIG_KSU_SUSFS_ENABLE_LOG=y
CONFIG_KSU_SUSFS_HIDE_KSU_SUSFS_SYMBOLS=y
CONFIG_KSU_SUSFS_SPOOF_CMDLINE_OR_BOOTCONFIG=y
CONFIG_KSU_SUSFS_OPEN_REDIRECT=y
CONFIG_KSU_SUSFS_SUS_MAP=y
CONFIG_KSU_SUSFS_SUS_MEMFD=y
# end of KernelSU - SUSFS
# end of KernelSU
