## XXKSU support config fragment

CONFIG_KSU_XXKSU=y

#
# KernelSU
#
CONFIG_KSU=y
CONFIG_KSU_KPROBES_KSUD=y
CONFIG_KSU_TAMPER_SYSCALL_TABLE=y
# CONFIG_KSU_HACK_ARM64_BRANCH_LINK is not set
CONFIG_KSU_FEATURE_SULOG=y
CONFIG_KSU_FEATURE_ADBROOT=y
# CONFIG_KSU_DEBUG is not set
# CONFIG_KSU_THRONE_TRACKER_ALWAYS_THREADED is not set
CONFIG_KSU_LSM_SECURITY_HOOKS=y
# end of KernelSU

#
# KernelSU - SUSFS
#
CONFIG_KSU_SUSFS=y
CONFIG_KSU_SUSFS_SUS_PATH=y
CONFIG_KSU_SUSFS_SUS_MOUNT=y
CONFIG_KSU_SUSFS_SUS_KSTAT=y
# CONFIG_KSU_SUSFS_TRY_UMOUNT is not set
CONFIG_KSU_SUSFS_SPOOF_UNAME=y
CONFIG_KSU_SUSFS_ENABLE_LOG=y
CONFIG_KSU_SUSFS_HIDE_KSU_SUSFS_SYMBOLS=y
CONFIG_KSU_SUSFS_SPOOF_CMDLINE_OR_BOOTCONFIG=y
CONFIG_KSU_SUSFS_OPEN_REDIRECT=y
CONFIG_KSU_SUSFS_SUS_MAP=y
CONFIG_KSU_SUSFS_SUS_MEMFD=y
# end of KernelSU - SUSFS
# end of Device Drivers
